.product-img{
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 250px;

}
.product-container{
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width:max-content;
}